.addition {
  border-bottom: 1px solid #cdcdcd;
  padding-top: 12px;
  padding-bottom: 16px;
}

.addition__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: $font-oswald-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  a {
    color: #222222;
  }
}

.addition__list {
  @include reset-list;
  margin-bottom: 13px;
  display: flex;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.addition__unit {
  margin-right: auto;
}

.addition__button {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .addition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding: 25px 40px;
  }

  .addition__title {
    margin-right: auto;
  }

  .addition__list {
    max-width: 290px;
    font-size: 16px;
  }

  .addition__cost {
    width: 95px;
    text-align: right;
  }

  .addition__button {
    width: 100%;
    margin-top: auto;
  }
}
