.before-after {
  background-color: #f2f2f2;
  padding-bottom: 36px;
}

.before-after__wrapper {
  @include container-mobile;
  padding: 0 20px;
  padding-top: 18px;
}

.before-after__title {
  margin: 0;
  margin-bottom: 22px;
  font-family: $font-oswald-text;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.before-after__desc {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 1px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.before-after__result {
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .before-after {
    background-color: #ffffff;
    padding-bottom: 0;
  }

  .before-after__wrapper {
    @include container-tablet;
    padding: 0 30px 60px;
  }

  .before-after__title {
    margin-bottom: 64px;
    font-size: 60px;
  }

  .before-after__desc {
    margin-bottom: 53px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .before-after__result {
    margin-bottom: 25px;
  }

  .before-after__slider {
    background-image: linear-gradient(#ffffff, #ffffff 170px, #f2f2f2 170px);
    padding-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .before-after {
    display: flex;
    width: auto;
    padding-bottom: 65px;
    background-image: linear-gradient(#ffffff, #ffffff 190px, #f2f2f2 190px);
  }

  .before-after__wrapper {
    width: 480px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-left: 40px;
  }

  .before-after__title {
    width: 435px;
    margin-top: 55px;
    margin-bottom: 146px;
  }

  .before-after__desc {
    width: 435px;
    margin-bottom: 68px;
    font-size: 16px;
    line-height: 24px;
  }

  .before-after__result {
    margin-bottom: 0;
  }

  .before-after__slider {
    padding: 0;
    background-image: none;
  }
}
