.copyright {
  display: flex;
  text-align: center;
}

.copyright__link {
  color: #444444;
  font-size: 16px;
  line-height: 16px;
  margin-right: auto;
  padding-top: 8px;
}

.copyright__image {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
}
