.copyright {
  text-align: center;
}

.copyright__link {
  color: #444444;
  font-size: 16px;
  line-height: 16px;
}

.copyright__image {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 36px;
}
