.intro {
  margin-bottom: 23px;
  background-image: url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(#63a73a, #63a73a 305px, #ffffff 305px);
  background-position: top center;
  background-repeat: no-repeat;
}

.intro__wrapper {
  @include container-mobile;
  padding-top: 28px;
  font-family: $font-oswald-text;
  color: #ffffff;
  text-align: center;
}

.intro__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.intro__description {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.intro__image {
  display: block;
  width: 280px;
  height: 270px;
  margin-bottom: 3px;
}

.intro__button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .intro {
    margin: 0;
    background: none;
  }

  .intro__wrapper {
    @include container-tablet;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 30px;
    padding-top: 58px;
    color: #111111;
    text-align: left;
  }

  .intro__title {
    width: 420px;
    margin-bottom: 41px;
    margin-left: 87px;
    font-size: 60px;
    line-height: 60px;
  }

  .intro__description {
    width: 420px;
    margin-bottom: 48px;
    margin-left: 88px;
    font-size: 20px;
    line-height: 20px;
  }

  .intro__image {
    order: 1;
    width: 709px;
    height: 609px;
    margin-top: -80px;
    margin-bottom: 0;
  }

  .intro__button {
    position: relative;
    width: 246px;
    margin-left: 89px;
    padding: 16px 27px;
    font-size: 20px;
    line-height: 20px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin-bottom: 80px;
    background-image: url("../img/index-background-desktop@1x.jpg"),
      linear-gradient(to left, #65a93c, #65a93c 50%, #ffffff 50%);
    background-repeat: no-repeat;
    background-position: calc(50% + 359px) 100%;
  }

  .intro__wrapper {
    @include container-desktop;
    min-height: 696px;
    margin-top: -113px;
    padding: 0;
    padding-top: 222px;
  }

  .intro__title {
    position: relative;
    margin-left: 120px;
    z-index: 1;
  }

  .intro__description {
    margin-bottom: 53px;
    margin-left: 120px;
  }

  .intro__image {
    margin: 0;
    position: absolute;
    top: 142px;
    right: 243px;
    width: 552px;
    height: 499px;
  }

  .intro__button {
    margin-left: 120px;
  }
}
