.page-header {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: center;
    border-bottom: none;
  }
}

.page-header__wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding-top: 11px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 24px;
    margin-right: 95px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    margin-top: 54px;
    margin-right: 538px;
  }
}

.page-header__logo {
  width: 191px;
  height: 38px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: 202px;
    height: 59px;
  }
}

.page-header__nav-toggle {
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 12px;
  padding: 0;
  position: relative;
  width: 24px;
  height: 18px;
  border: none;
  background-color: #222222;
  border-top: 8px solid white;
  border-bottom: 8px solid white;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 24px;
    background-color: #222222;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 24px;
    background-color: #222222;
  }

  &.open {
    background-color: transparent;
  }

  &.open::before {
    transform: rotate(50deg);
    top: 0;
  }

  &.open::after {
    transform: rotate(-50deg);
    bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-header__nav-toggle {
    display: none;
  }
}
