.page-main__header {
  @include container-mobile;
  padding: 0 20px; // После переработки миксина контейнера убрать
}

.page-main__title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: $font-oswald-text;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.page-main__desc {
  margin: 0;
  margin-bottom: 35px;
  font-family: $font-oswald-text;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    @include container-tablet;
    padding: 0 30px; // После переработки миксина контейнера убрать
  }

  .page-main__title {
    margin-top: 65px;
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 60px;
  }

  .page-main__desc {
    width: 325px;
    margin-bottom: 65px;
    padding: 0 40px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    @include container-desktop;
  }

  .page-main__title {
    margin-top: 85px;
    margin-bottom: 55px;
  }

  .page-main__desc {
    padding: 0;
  }
}
