.product-description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  border-collapse: collapse;
  width: 100%;
  border: 0;

  tr {
    display: flex;
    justify-content: space-between;
  }

  th {
    width: 95px;
    padding: 0;
    font-weight: 400;
    text-align: left;
  }

  td {
    width: 45px;
    padding: 0;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .product-description {
    font-size: 16px;

    tr {
      padding-top: 8px;
      padding-bottom: 7px;
      border-bottom: 1px solid #cdcdcd;
    }

    th {
      width: 155px;
    }

    td {
      width: 95px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-description {
    th {
      width: 108px;
    }

    td {
      width: 60px;
    }
  }
}
