.product-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  padding: 0 19px;
  padding-bottom: 24px;

  &--more {
    padding-top: 80px;
    justify-content: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #d3d3d3;
    }

    &::before {
      width: 30px;
      height: 2px;
      top: 40px;
      left: 50%;
      margin-left: -15px;
    }

    &::after {
      width: 2px;
      height: 30px;
      top: 26px;
      left: 50%;
      margin-left: -1px;
    }
  }
}

.product-card__image {
  width: 140px;
  height: 144px;

  img {
    display: block;
  }
}

.product-card__info {
  width: 140px;
  padding-top: 22px;
  padding-bottom: 20px;
}

.product-card__title {
  margin: 0;
  margin-bottom: 12px;
  padding-right: 40px;
  font-family: $font-oswald-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  a {
    color: #111111;
  }
}

.product-card__text {
  margin: 0;
  margin-bottom: 7px;
  font-family: $font-oswald-text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__subtext {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card__button {
  padding: 10px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product-card {
    box-sizing: border-box;
    width: 324px;
    margin-bottom: 57px;
    padding: 0;
    padding-bottom: 39px;
    background-color: #f2f2f2;

    &--more {
      background-color: #ffffff;
      border: 1px solid #e6e6e6;
      padding-top: 163px;

      &::before {
        width: 60px;
        top: 83px;
        left: 50%;
        margin-left: -30px;
      }

      &::after {
        height: 60px;
        top: 55px;
        left: 50%;
        margin-left: -1px;
      }
    }
  }

  .product-card__image {
    display: flex;
    width: 324px;
    height: 208px;
    margin: 0 auto;
    margin-top: -82px;

    picture {
      margin-top: auto;
    }
  }

  .product-card__info {
    width: 100%;
    padding: 0 38px;
    padding-top: 36px;
    padding-bottom: 34px;
  }

  .product-card__title {
    margin-bottom: 18px;
    padding: 0 55px;
    font-size: 20px;
    text-align: center;
  }

  .product-card__text {
    width: 170px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
  }

  .product-card__subtext {
    width: 170px;
    margin: 0 auto;
    margin-bottom: 86px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .product-card__button {
    margin: 0 38px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
    padding: 0;
    padding-bottom: 40px;

    &--more {
      padding-top: 164px;
    }
  }

  .product-card__info {
    padding-bottom: 32px;
  }

  .product-card__title {
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: center;
  }

  .product-card__text {
    padding: 0 10px;
  }

  .product-card__subtext {
    padding: 0;
  }
}
