.slider {
  @include container-mobile;
  padding: 0;
}

.slider__image-wrapper {
  position: relative;
  width: 320px;
  height: 240px;
  margin-bottom: 32px;
}

.slider__image-before {
  position: relative;
  z-index: 2;
}

.slider__image-after {
  display: none; // отключим, т.к. нет реализации слайдера
  position: absolute;
  top: 0;
  z-index: 1;
}

.slider__range {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 6px;
}

.slider__text {
  margin: 0;
  font-family: $font-oswald-text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__controls {
  margin: 0 19px;
}

.slider__scale {
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.slider__bar {
  box-sizing: border-box;
  width: 50%;
  height: 6px;
  margin: 3px;
  border-radius: 3px;
  background-color: $green-color;
}

.slider__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider {
    width: auto;
    padding-bottom: 75px;
    background-image: linear-gradient(#ffffff, #ffffff 169px, #f2f2f2 169px);
  }

  .slider__image-wrapper {
    width: 690px;
    height: 517px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 13px;
  }

  .slider__range {
    padding: 0;
  }

  .slider__text {
    font-size: 20px;
    line-height: 20px;
  }

  .slider__controls {
    position: relative;
    margin-left: 25px;
    margin-right: 22px;
  }

  .slider__scale {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
    border-radius: 3px;
  }

  .slider__toggle {
    position: absolute;
    top: -14px;
    left: 46%;
    box-sizing: border-box;
    display: block;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -4px;
      margin-left: -4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $green-color;
    }

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $green-color;
    }
  }

  .slider__bar {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin-left: 130px;
    background: none;
  }

  .slider__image-wrapper {
    margin-bottom: 41px;
    padding: 0;
  }

  .slider__range {
    padding-left: 39px;
  }
}
