.social {
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-right: 33px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social__item {
  display: flex;
  width: 22px;
  height: 22px;

  svg {
    margin: auto;
    fill: #666666;
  }

  &:hover svg,
  &:focus svg,
  &:active svg {
    fill: $green-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list li {
    margin-right: 25px;
  }

  .social__item {
    width: 30px;
    height: 30px;

    &--vk svg {
      width: 30px;
      height: 16px;
    }

    &--facebook svg {
      margin: 0;
      width: 14px;
      height: 28px;
    }

    &--instagram svg {
      width: 23px;
      height: 23px;
    }
  }
}
