.special-offer {
  box-sizing: border-box;
  width: 280px;
  min-height: 289px;
  padding: 65px 55px 40px;
  text-align: center;
}

.special-offer__image {
  width: 55px;
  height: 60px;
  margin-bottom: 57px;
}

.special-offer__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .special-offer {
    display: flex;
    width: 708px;
    min-height: 200px;
    padding: 0;
    padding-left: 90px;
    padding-right: 114px;
  }

  .special-offer__image {
    margin: auto;
    margin-top: 65px;
    margin-left: 0;
  }

  .special-offer__text {
    width: 170px;
    margin: auto 0;
    margin-top: 72px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .special-offer {
    display: block;
    width: 245px;
    min-height: 289px;
    padding: 65px 35px 40px;
  }

  .special-offer__image {
    margin: 0;
    margin-bottom: 59px;
  }

  .special-offer__text {
    margin-top: 0;
    text-align: center;
  }
}
